@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbarHide {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.scrollbarHide::-webkit-scrollbar {
    display: none;
}